extends /layout/_application
block body
  div.wrapper
    h1.ttl
      img(src="img/ttl.png" alt="スロット × ◯◯")
    div.txt_container
      p.copy.
        あなたはスロットで遊んだことがありますか？<br>
        何かを３つ揃えるだけで色んなアクションが起きる&mdash;<br>
        こんなにシンプルで面白い仕組みを、<br>
        ギャンブルの世界だけに閉じ込めておくのはもったいない。<br><br>
        そんなわけで今回は、スロット × ◯◯というテーマで３種類のゲームを作りました。<br>
        少しの間でも楽しんでもらえるとうれしいです。
      p.caution.sp ※ PCからの閲覧がオススメです。
    div.content_container
      div.content.tameslo
        a(href="http://tameslo.gonshi.net" target="_blank")
          img(src="img/tameslo.jpg" alt="ためになるスロット")
      div.content.threecodes
        a(href="http://gonshi.github.io/three-codes" target="_blank")
          img(src="img/threecodes.jpg" alt="THREE CODES")
      div.content.rgbtour
        a(href="http://gonshi.github.io/rgb-tour/" target="_blank")
          img(src="img/rgbtour.jpg" alt="RGB TOUR")
